@import "./font-family", "./colors";

.btn-drop{
    font-family: $ep, $sans;
    border: none;
    background-color: transparent;
    color: $medium-gray;
    outline: none;
    font-size: 1rem;
    &:hover{
        cursor: pointer;
        color: $almost-black;
    }
}

